<!DOCTYPE html>
<html lang="ru"  ng-app="ajaxApp">
<head>
	<meta charset="utf-8">
	<title>AJAX request</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
</head>
<body ng-controller="AjaxController">

<div class="container">
<br>
<button class="btn btn-info" ng-click="sendRequest()">получить данные по ajax</button> &nbsp;<button class="btn btn-info" ng-click="sendRequest2()">получить данные по ajax из php</button>&nbsp;<button class="btn btn-info" ng-click="sendRequest3()">получить данные по ajax (POST) из orders.php</button>&nbsp;<button class="btn btn-info" ng-click="sendClear()">clear data</button>
<br/><br/>
<div class="jumbotron" >
	


<ul ng-repeat="item in items">
<li>{{item.name}} - {{item.price}}</li>
</ul> 


<div ng-repeat="post in posts">
<h2>
<a href='{{post.url}}'>{{post.title}}</a>
</h2>
<div class='time'>{{post.time}} - {{post.author}} </div>
<p>{{post.description}}</p>
<img ng-src="{{post.banner}}" />
</div>
   

</div>
</div>

</body>
</html>