<!DOCTYPE html>
<html lang="ru"  ng-app="ajaxApp">
<head>
	<meta charset="utf-8">
	<title>AJAX request</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
</head>
<body ng-controller="AjaxController">

<div class="container">
<br>
<button class="btn btn-info" ng-click="sendRequest()">получить данные по ajax</button>
<br>
<div class="jumbotron" >
	


<ul ng-repeat="item in items">
<li>{{item.name}} - {{item.price}}</li>
</ul> 
</div>
</div>

</body>
</html>