<!DOCTYPE html>
<html lang="ru" ng-app="ngrepeatSelect">
<head>
	<meta charset="utf-8">
	<title>Angular JS: {{Title}}</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/select.js"></script>
</head>
<body ng-controller="ExampleController">

<div class="container">
<br>
<div class="row">
<label for="title"></label><div class="col-md-3">
<input type="text" name="title" ng-model="Title" class="from-control" placeholder="название страницы" autofocus>
</div>
<div class="col-md-3">
<label for="name"></label>
<input type="text" name="name" ng-model="Name" class="from-control" placeholder="заголовок страницы">
</div>
<div class="col-md-3">
<label for="color"></label>
<input type="text" name="name" ng-model="Color" class="from-control" placeholder="цвет страницы">
</div>
<div class="col-md-3" >
<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
      <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select></div>
</div><br>
<div class="row">
<div class="jumbotron"><h1> {{Name}}</h1></div>
<p class='bg-{{data.repeatSelect}}''><br>&nbsp;String <br><br></p>
</div>
</div>
</body>
</html>