<!DOCTYPE html>
<html lang="ru"  ng-app="showApp">
<head>
	<meta charset="utf-8">
	<title>AJAX request</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/show.js"></script>
</head>
<body >

<div class="container">
<div class="row">
<div class="jumbotron" ng-show="jumb"><h1>Show action  page</h1></div>

</div>
<br>
<button class="btn btn-info" ng-click="jumb">скрыть/показать Jumbotron</button> &nbsp;<button class="btn btn-info" ng-click="showRequest2()">показать Jumbotron</button>&nbsp;
<br/><br/>
<div class="jumbotron" ng-controller="ShowController">
	


  

</div>
</div>

</body>
</html>


